.btn{
    width: 200px;
    height: 60px;

    border: 3px solid #0a0f92;
    color: #0a0f92;

    background: white;

    cursor: pointer;
    font-family: 'Montserrat', sans-serif;

    font-size: 20px;
    font-weight: 600;

    transition: all 0.3s ease 0s;
}

.btn:hover{
    background: #0a0f92;
    color: white;
    transition: all 0.3s ease 0s;
}

