.input{
    width: 350px;
    height: 40px;

    border-radius: 10px;
    border: 2px solid #0a0f92;

    padding: 0 10px;

    outline: none;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}