.input{
    width: 350px;
    height: 40px;

    border-radius: 10px;
    border: 2px solid #0a0f92;

    padding: 0 10px;

    outline: none;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

@media (max-width: 480px) {
    .input{
        width: 290px;
        height: 40px;
    }
}


@media (max-width: 365px) {
    .input{
        width: 200px;
        height: 40px;
    }
}