.paper{
    margin: 0 auto;

    width: 650px;
    height: 650px;

    background-color: white;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}